<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:theme="@style/Theme.Noctune">

        <!-- Splash sebagai Launcher -->
        <activity android:name=".ui.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main Activity -->
        <activity android:name=".ui.MainActivity"
            android:exported="false" />

        <!-- Detail Activity -->
        <activity android:name=".ui.DetailActivity"
            android:exported="false" />

        <activity
            android:name=".ui.PlaylistDetailActivity"
            android:exported="false"/>

    </application>

</manifest>